@model Paginated<Tag>

@{
    ViewBag.Title = "Tag Manager";
}

<!-- Main content -->

<div class="container-fluid">
    <h3>Tag Management</h3>
    <hr />
    <section>
        <div class="heading mt-2 mb-2">
            <form asp-action="Index" asp-controller="TagManager" asp-area="Blog" method="get" class="form-inline">
                <div class="form-group mr-2">
                    <a asp-action="Create" asp-controller="CategoryManager" asp-area="Blog" class="btn btn-primary bg-custom"><i class="fas fa-plus-square"></i> Tag</a>
                </div>
                <div class="form-group">
                    @Html.AntiForgeryToken()
                    <button type="button" class="btn btn-danger" id="delete-all" onclick="deleteAll();"><i class="far fa-trash-alt"></i> Tag</button>
                </div>
                <div class="form-group ml-auto d-flex">
                    <select name="pageSize" id="page-size" class="custom-select mr-2">
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    <input type="text" class="form-control mr-2" id="inputSearch" name="searchString"
                           value="@ViewData["CurrentFilter"]" placeholder="Search Tag....">
                    <button type="submit" class=" form-control btn btn-primary bg-custom mr-2">
                        <i class="fas fa-search"></i>
                    </button>
                    <a asp-action="Index" asp-controller="TagManager" asp-area="Blog" class="btn btn-secondary">
                        <i class="fas fa-undo"></i>
                    </a>
                </div>
            </form>
        </div>
        <div class="tag-list">
            <table class="table table-bordered">
                <thead class="bg-custom text-white rounded">
                    <tr>
                        <th scope="col">
                            <input type="checkbox" id="selected-all" />
                        </th>
                        <th scope="col">
                            <a asp-action="Index" asp-controller="TagManager" asp-area="Blog" asp-route-sortOrder="@ViewData["NameSortParm"]"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-pageSize="@ViewData["CurrentPageSize"]" class="text-white">
                                Tag Name
                            </a>
                        </th>
                        <th scope="col">
                            <a asp-action="Index" asp-controller="TagManager" asp-area="Blog" asp-route-sortOrder="@ViewData["SlugSortParm"]"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-pageSize="@ViewData["CurrentPageSize"]" class="text-white">
                                Slug
                            </a>
                        </th>
                        <th scope="col" class="d-none d-sm-table-cell">
                            <a asp-action="Index" asp-controller="TagManager" asp-area="Blog" asp-route-sortOrder="@ViewData["CreatedDateSortParm"]"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-pageSize="@ViewData["CurrentPageSize"]" class="text-white">
                                Created Date
                            </a>
                        </th>
                        <th scope="col" class="d-none d-sm-table-cell">
                            <a asp-action="Index" asp-controller="TagManager" asp-area="Blog" asp-route-sortOrder="@ViewData["ModifiedDateSortParm"]"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-pageSize="@ViewData["CurrentPageSize"]" class="text-white">
                                Modified Date
                            </a>
                        </th>
                        <th scope="col">Manage</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var tag in Model)
                    {
                        <tr>
                            <td>
                                <input type="checkbox" name="selectedItems" class="selected-items" value="@tag.Id" />
                            </td>
                            <td scope="row">
                                <a asp-action="Edit" asp-controller="TagManager" asp-area="Blog"
                                   asp-route-id="@tag.Id">@tag.Name</a>
                            </td>
                            <td>
                                <a asp-action="Edit" asp-controller="TagManager" asp-area="Blog"
                                   asp-route-id="@tag.Id">@tag.Slug</a>
                            </td>
                            <td class="d-none d-sm-table-cell">
                                <a asp-action="Edit" asp-controller="TagManager" asp-area="Blog"
                                   asp-route-id="@tag.Id">@tag.CreatedDate.ToShortDateString()</a>
                            </td>
                            <td class="d-none d-sm-table-cell">
                                <a asp-action="Edit" asp-controller="TagManager" asp-area="Blog"
                                   asp-route-id="@tag.Id">@tag.ModifiedDate.ToShortDateString()</a>
                            </td>
                            <td>
                                <form asp-action="Delete" asp-controller="TagManager" asp-area="Blog" asp-route-id="@tag.Id">
                                    <a asp-action="Edit" asp-controller="TagManager" asp-area="Blog"
                                       asp-route-id="@tag.Id" class="btn btn-primary bg-custom">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <button type="submit"
                                            onclick="return confirm('Are you sure to delete this tag?');"
                                            class="btn btn-danger ">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            ViewBag.PageRange = 3;
        }
        <div class="paging mb-3">
            <nav aria-label="page-navigation">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a asp-action="Index" asp-controller="TagManager" asp-area="Blog"
                           asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-currentFilter="@ViewData["CurrentFilter"]"
                           asp-route-pageIndex="1" asp-route-pageSize="@ViewData["CurrentPageSize"]" class="btn page-link @prevDisabled">
                            <i class="fas fa-fast-backward"></i>
                        </a>
                    <li class="page-item">
                        <a asp-action="Index" asp-controller="TagManager" asp-area="Blog"
                           asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-currentFilter="@ViewData["CurrentFilter"]"
                           asp-route-pageIndex="@(Model.PageIndex - 1 <= 0 ? 1 : Model.PageIndex - 1)" asp-route-pageSize="@ViewData["CurrentPageSize"]"
                           class="btn page-link @prevDisabled">
                            <i class="fas fa-backward"></i>
                        </a>
                    </li>

                    @for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        if (i >= Model.PageIndex - ViewBag.PageRange && i <= Model.PageIndex + ViewBag.PageRange)
                        {
                            <li class="page-item">
                                <a asp-action="Index" asp-controller="TagManager" asp-area="Blog"
                                   asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                   asp-route-pageIndex="@i" asp-route-pageSize="@ViewData["CurrentPageSize"]"
                                   class="btn page-link @(i==Model.PageIndex ? "current" : "")">
                                    @i
                                </a>
                            </li>
                        }
                    }
                    <li class="page-item">
                        <a asp-action="Index" asp-controller="TagManager" asp-area="Blog"
                           asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-currentFilter="@ViewData["CurrentFilter"]"
                           asp-route-pageIndex="@(Model.PageIndex + 1 > Model.TotalPages ? Model.TotalPages : Model.PageIndex + 1)"
                           asp-route-pageSize="@ViewData["CurrentPageSize"]" class="btn page-link @nextDisabled">
                            <i class="fas fa-forward"></i>
                        </a>
                    <li class="page-item">
                        <a asp-action="Index" asp-controller="TagManager" asp-area="Blog" asp-route-sortOrder="@ViewData["CurrentSort"]"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-pageIndex="@(Model.PageIndex)"
                           asp-route-pageSize="@ViewData["CurrentPageSize"]" class="btn page-link @nextDisabled">
                            <i class="fas fa-fast-forward"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
</div>

<!-- End main content -->

@section Scripts {
    <script>
        // Start - Page size
        var currentPageSize = @ViewData["CurrentPageSize"];
        $('#page-size').val(currentPageSize);
        // End - Page size

        // Start - Select all checkboxes
        $('#selected-all').change(function() {
            $('input:checkbox[class=selected-items]').prop('checked', this.checked);
        });
        // End - Select all checkboxes

        // Start - Enable and disable button
        var checkBoxes = $('tbody .selected-items, th #selected-all');
        checkBoxes.change(function () {
            $('#delete-all').prop('disabled', checkBoxes.filter(':checked').length < 1);
        });
        checkBoxes.change();
        // End - Enable and disable button

        // Start - Function delete all
        function deleteAll() {
            var token = $('input[type=hidden][name=__RequestVerificationToken]', document).val();
            var selectedItems = new Array();

            $('.selected-items:checkbox:checked').each(function() {
                selectedItems.push($(this).val());
            });

            $.ajax({
                url: "@Url.Action("DeleteAll", "TagManager")",
                type: "POST",
                data: JSON.stringify(selectedItems),
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                headers: { 'RequestVerificationToken': token },
                success: function (result) {
                    console.log(result);
                    $.each(selectedItems, function (key, value) {
                        console.log(value);
                        $('input:checkbox[class=selected-items]').each(function () {
                            console.log($(this));
                            if ($(this).val() == value) {
                                $(this).parent().parent().remove();
                            };
                        })
                        $('#delete-all').prop('disabled', true);
                    });
                },
                error: function(errorMessage) {
                    alert(errorMessage.responseText);
                }
            });
        }
        // End - Function delete all
    </script>
}